.info_box, .quiz_box {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    margin: 30px auto;
    max-width: 800px;
    padding: 30px 40px;
    height: 500px;
    text-align: center;
}

.enter-box {
    display: flex;
    justify-content: center;
    align-content: flex-end;
}
 

#score {
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 30px;
  }

  #highScore {
    font-size: 30px;
    padding-bottom: 20px;
  }

  .enter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 15px;
  }

  #log {
    display: none;
  }

  

  #initials {
    padding: 20px;
    margin: 40px 200px;
    text-align: center;
  }

  .finale {
    display: none;
  }

  .yourBest {
    padding-bottom: 15px;
  }

.finalLog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 28px;
  border-bottom: 1px solid;
  border-width: 100%;
  margin: 10px 25px;
  list-style-type: none;
}

#scores {
  display: flex;
  justify-content: space-evenly;
}

.yourScores {
display: flex;
flex: 0 0 50%;
}

.yourInitials {
  display: flex;
  
}
